.intro {

  border-top: 4px solid $ppGreen;
  background: #fff;
  padding-bottom: 40px;

  &__content {
    font-size: 21px;
    line-height: 1.4;
    width: 50%;
    margin: 70px auto;
    text-align: center;
  }
}
