include ../mixins/_svgsprite

doctype html
html(lang="en")
	block vars
	head
		block title
			title PrintingPlate - Build Manageable WordPress Apps
		link(rel='stylesheet', href='assets/css/screen.css')

		link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700', rel='stylesheet', type='text/css')
			
	body(class='#{bodyClass}')

		header.site-header
			.container
				block header

		block content

		script(src='assets/js/script.js')
